.box{


	border: 2px solid red;
	margin: 5px 20px 0px 20px;
	height: 80vh;


}


/*body{

	
	background-image: url("../img/binderPic.png");
	background-repeat: no-repeat;
	background-size: cover ;

}*/

/*[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
    }*/



 .subjects{
 	text-align:center;
 }

 .panel-body.binder{
 	height:70vh;
 	border:2px solid #7edaea;
 }