 .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}


.dropdown-item{
	color:black;
}

#accordion{
	
	padding-left: 10px;
	margin:-6px;
	width: 160px;
	/*cursor: pointer;*/

}

.panel-heading + a {
	padding: 123px 0px 0px 0px;  
}

